extends layout

block content
  h1 My Request Data
  dl
    dt Nom de Domaine
    dd= host
    dt IP
    dd= ip
    dt Chemin d'accès
    dd= path
    dt Headers
    dd
      table
        tr
          th Nom
          th Valeur
        each val, index in headers
          tr
            td= index
            td= val

    h1 My Computer Data
    dt Plateforme
    dd= platform
    dt CPU
    dd
      p Total : #{cpus.length}
      table
        tr
          th Type
          th Fréquence
        each val in cpus
          tr
            td= val.model
            td #{(val.speed / 1000).toFixed(2)} GHz
    dt Utilisation Mémoire
    dd #{memory[0].toFixed(2)} Go/#{memory[1].toFixed(2)} Go
    dt Uptime
    dd= uptime
